<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="saleagent" frontName="saleagent">
            <module name="AHT_SaleAgents" />
        </route>
    </router>
</config>
