<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * menu
 *
 * @copyright Copyright © 2020 MAGETOP. All rights reserved.
 * @author    info@magetop.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_SaleAgents::commission" title="Commission Products" module="AHT_SaleAgents" sortOrder="10" action="saleagent/commission" resource="AHT_SaleAgents::commission" parent="Magento_Reports::report_products"/>
    </menu>
</config>
